*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #1B1A1D;
    margin: 0;
}
/* General Components */

.container {
    max-width: 1372px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
  .header {
    margin-top: 20px;
    margin-bottom: 64px;
  }
  
  .header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Search */
  
  .search {
    position: relative;
    max-width: 370px;
    width: 100%;
  }
  
  .search-button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    height: 30px;
    background: transparent;
    padding: 0;
    border: 0;
  }
  
  .search-input {
    width: 100%;
    height: 60px;
    background: #1B1A1D;
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 50px;
    padding-left: 70px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #F2F2F2;
  }
  
  .search-input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #F2F2F2;
  }
  
  /* Filter Section */

.pokemon-filter-section {
    margin-bottom: 48px;
  }
  
  .pokemon-filter-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 36px;
  }
  
  .pokemon-filter-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .pokemon-filter-item:not(:last-child) {
    margin-right: 16px;
  }
  
  .pokemon-filter-button {
    border: 1px solid #46444B;
    border-radius: 50px;
    background: transparent;
    padding: 9px 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #46444B;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  
  .pokemon-filter-item-active > .pokemon-filter-button,
  .pokemon-filter-button:hover  {
    color: #FFFFFF;
    border-color: #FFFFFF;
  }
  
  /* Pokemons */
  
  .pokemons-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 48px 30px;
  }
  
  .pokemons-item {
    width: calc(25% - 23px);
  }
  
  .pokemons-card {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    background: #28272B;
    padding-bottom: 42px;
  }
  
  .pokemons-card-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #56CCF2;
    margin-bottom: 16px;
  }
  
  .pokemons-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 16px;
  }
  
  .pokemons-card-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
    margin-right: 16px;
  }
  
  .pokemons-card-type {
    display: inline-block;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 4px 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #F2F2F2;
  }
  
  .pokemons-card-attributes {
    padding: 0 20px;
    margin: 0;
    list-style: none;
  }
  
  .pokemons-card-attributes-item:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .pokemons-card-attributes-name {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 6px;
  }
  
  .pokemons-card-attributes-progress {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
  }
  
  .pokemons-card-attributes-progress-bar {
    width: 50%;
    height: 100%;
    background: #FFCC00;
    border-radius: 10px;
  }